scikit-learn==1.6.1
elasticsearch==8.17.2
pandas>=2.2.3
scipy>=1.15.2
transformers==4.52.4
sentence-transformers>=3.4.1
pydantic==2.11.1
pyarrow
httpx
requests
pytest
hdbscan
umap-learn
joblib
hf_xet
openpyxl
openai
json5
sphinx
networkx
sphinx-rtd-theme
